body{
  font-family:'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  background:#2F3033;
  color:white;
}

#navbar{
  position:fixed;
  top:0px;
  left:0px;
  padding:10px 0px;
  width:100%;
  background-color: #454575;
  z-index:3;
}

#nav-link{
  padding:10px 10px;
  font-size:23px;
  color:white;
  text-decoration:none;
  padding-right:20px;
}

#welcome-section{
  position:absolute;
  right:0px;
  top:0px;
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-section{
  position:absolute;
  left:0px;
  top:100vh;
  width:100%;
}

#about-section #title{
  color:red;
}