body{
  font-family:'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  background:#2F3033;
  color:white;
}

#navbar{
  position:fixed;
  top:0px;
  left:0px;
  padding:10px 0px;
  width:100%;
  background-color: #454575;
  z-index:3;
}

#nav-link{
  padding:10px 10px;
  font-size:23px;
  color:white;
  text-decoration:none;
  padding-right:20px;
}

#welcome-section{
  position:absolute;
  right:0px;
  top:0px;
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

#about-section{
  position:absolute;
  left:0px;
  top:100vh;
  width:100%;
}

#welcome-section{
  position:absolute;
  right:0px;
  top:0px;
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#2F3033;
  color:white;
}

#project-section{
  position:absolute;
  left:0px;
  top:180vh;
  width:100%;
  text-align: center;
}

#project{
  display: inline-block;
  margin: 20px;
  object-fit: cover;
  max-width: 515px;
}